@import "tailwindcss";

body {
  @apply bg-black text-white;
}

@keyframes tickPop {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tick-animate {
  animation: tickPop 0.25s ease-out;
}
